
.angular-google-map-container { height: 500px }

.full-screen {
  position: absolute;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.borderless td, .borderless th {
  border: none!important;
}

.example{
  background-image: url('../images/ejemplo.png');
}

td pre, th pre {
  margin: 0;
  padding: 4px;
}

.iti-flag {
  background-image: url('../images/flags.png');
}

.intl-tel-input .selected-flag {
  z-index: 1000;
}

.intl-tel-input .country-list {
 z-index: 9999;
}

.telefono .input-group {
  width: 100%;
}

.chart-filters {
  margin-bottom: 15px;
}

.chart {
  margin-bottom: 20px;
}

code {
  display: block;
  padding: 15px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #475156;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0;
}
.arrow_box {
  position: relative;
  background: #eeeeee;
  border: 1px solid #cccccc;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 40%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(238, 238, 238, 0);
  border-top-color: #eeeeee;
  border-width: 8px;
  margin-left: -8px;
}
.arrow_box:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #cccccc;
  border-width: 9px;
  margin-left: -9px;
}
.navbar-brand{padding:20px 10px;height: auto}

.barra-superior{background: #0056a8;}
.barra-superior .navbar-nav>li>a{
  background-color: #0056a8;
  /*border-bottom: 0px;*/
  border: none !important;
  color: #fff;
  height: 30px;
  padding-top: 5px;
  text-shadow: 0px;
  /*border-right: 1px solid #01417d;*/
}

.barra-superior .navbar-nav>li>a:hover,
.barra-superior .navbar-nav>li>a.active{
  background-color: #01417d !important;
}

header .container{  position: relative;}
header .banda-bicolor{
  height: 10px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 15%;
}
.navbar-default{background-image: none;}
header.navbar{margin-bottom: 0px;}
header .navbar-nav{margin-bottom: 0px;}

header .navbar-nav > li > a{
  height: 90px;
  border-bottom: 0px;
  font-size: 1.2em;
  padding: 35px 10px 0 10px;
}

.navbar-nav>li:last-of-type a{
  border-right: 1px solid #e6e6e6;
}

header .navbar-nav > li:first-child a{
  border-left: 1px solid #e6e6e6;
}
header .btn-group .btn.boton-header{
  margin-top: 20px;
  font-family: 'gobCL' !important;
}
header .dropdown-menu>li>a{
  font-size: 16px !important;
  text-align: left;
  padding:10px !important;
  font-family: 'gobCL' !important;
}
header .dropdown-menu>li>a:hover {
  background: #555;
}
/*MENU HOME*/
#menu-home{ margin:0 0 20px 0;}
#menu-home.row{padding:0 10px;}
#menu-home .nopadding{padding:0;}
.menu-left{padding-right:0;}
.menu-right{padding-left:0;}
#menu-home .menu-item h2{ margin:0;}
#menu-home .menu-item a{
  background: #fff;
  padding:30px 20px;
  vertical-align: middle;
  color:#0f69b4;
  text-align: center;
  border:0.5px solid #e6e6e6;
  display: block;
}

/*VIDEO INFORMATIVO CLAVEÚNICA*/
.video{
  font-family: 'gobCL';
}
.video .contenido{
  padding:22px 48px;
  background: #fff;
  height: 300px;
}
.video p{
  font-size: 22px;
  font-weight: lighter;
  line-height: 1.5em;
}
/* COMO OBTENER CLAVE*/
#obtener-clave .tarjeta{
  padding:22px 48px 29px 48px;
}
#obtener-clave .tarjeta p{
  width: 100%;
  font-size: 22px;
  font-weight: lighter;
  line-height: 1.5em;
  font-family: 'gobCL';
}
#obtener-clave h2{margin-left: 20px;}

#obtener-clave #step-1{
  background-image: url(/images/img-of.png);
  height:120px;
  width: auto;
  background-position: center;
}
#obtener-clave #step-2{
  background-image: url(/images/img-ac.png);
  height:120px;
  width: auto;
  background-position: center;
}
#obtener-clave .step{
  position:absolute;
  right: 10px;
  top: -55px;
  background:#eee;
  border:1px solid #ccc;
  padding:5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width:90px;
  margin-bottom:5px;
  color:#0f69b4;
  font-size: 22px;
}
#obtener-clave h3{
  color:#0f69b4;
}
#obtener-clave h4{
  color:#0f69b4;
  font-weight: bold;
  text-align: center;
}
#obtener-clave .btn{
  margin: 0 auto;
  display: block;
}
/* OFICINAS */
.opacidad {
  background-color: rgba(156, 156, 156, 0.3);
  margin: 15px auto;
  padding: 30px 0;
}
#office-filter .form-group{width:30%; margin-right:10px;}
#office-filter .form-group select{width:100%;}

.scroll-list{
  height: 500px;
  overflow: scroll;
}
.oficinas {
  background: #fff;
  padding: 10px;
  border-bottom:2px solid #ccc;
  margin-bottom: 10px;
  font-weight: lighter;
}
/* ACTIVAR CLAVEUNICA */

#activar .caja {
  background-color: rgba(156, 156, 156, 0.3);
  width: 100%;
  padding:40px 20px;
  margin-bottom: 30px;
}

#activar .bajo {
  padding: 30px 0 0;
}
#activar .btn{
  margin: 20px auto;
  display: block;
}
.tarjeta .borde {
  border-radius: 50%;
  width: 95px;
  height: auto;
  position: relative;
  left: 181px;
  border: 2px solid #727275;
}

/* CONFIGURAR DATOS */

#configurar .datos {
  background-color: rgba(156, 156, 156, 0.3);
  width: 100%;
  margin: 10px auto;
  padding: 2% 10%;
}

#configurar form .input-group .input-group-btn .btn {padding: 8px 12px 4px}
/* ESTILOS RECUPERAR CLAVE */
.pass-box {
  margin: 15px;
}
.recuadro {
  background-color: rgba(156, 156, 156, 0.3);
  width: 100%;
  margin: 0 auto 10px;
}

/* MODIFICAR DATOS PERSONALES CLAVEUNICA*/
.text-danger{
  font-family: 'gobCL'
}
#mensaje .tarjeta .left {
  position: relative;
  left: 41%;
}

#mensaje .tarjeta .leftt {
  position: relative;
  left: 37%;
}
/* ULTIMOS MOVIMIENTOS */

table thead tr {
  color: white;
  background-color: #2459a6;
}
.fondo-blanco {
  background-color: #fff;
}
table.cebra tbody tr:nth-child(2n) {
  background-color: #f9f9f9;
}
/* PREGUNTAS FRECUENTES */

#faqs .panel-default>.panel-heading {
  background-image: none;
  background-color: none;
  padding: 0;
  border:0;
}
#faqs .panel-open .panel-heading:hover,
#faqs .panel-open .panel-heading{
  background-color: #none;
}
#faqs .panel-default>.panel-heading h4 a{
  text-decoration: none;
  display: block;
  background-color:#f5f5f5;
  border-color: #efefef;
  border-bottom: 2px solid #c9c9c9;
  padding:10px 15px;
}
#faqs .panel-default>.panel-heading h4 a:hover,
#faqs .panel-open>.panel-heading h4 a{
  background-color: #0056a8;
  color:#fff;
}
#faqs .panel-collapse ol{
  list-style-type: georgian;
}
#faqs .panel-collapse ul{
  list-style-type: circle;
}
#faqs .panel-collapse li{
  line-height: 1.2em;
}

.pagination{margin-bottom:20px;}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  text-decoration: none;
  background: #0056a8;
}
/*TRAMITES*/

#task-filter .form-group{width:40%;}
#task-filter #filter-by{width:100%;}
#tasks .tarjeta {min-height: 200px;}

/*---INSTITUCIONAL----*/
/*HOME INS*/
.jumbotron{
  margin: 10px 0;
}
.jumbotron h1{
  font-size: 36px;
  font-weight: bold;
  color:#0056a8;
  margin-bottom: 18px;
}
#opciones{padding: 0;}
#opciones .tarjeta{height:200px;}
#opciones .btn-primary{
  font-size: 14px;
  padding:5px 10px;
  position: absolute;
  bottom: 40px;
  left: 30px;
}
#opciones .glyphicon{
  padding-right: 10px;
}
#opciones h3{
  font-size: 18px;
  font-weight: bold;
  color:#0f69b4;
}
#status{
  background: green;
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 40px;
  margin:0 25%;
}
#status.online {
  background: green;
}
#status.offline {
  background: red;
}
#up-down{padding:10px 0}
#up-down h3,
#metrics h3{color:#0f69b4;}

#up-down .tarjeta,
#metrics .tarjeta{height:180px; margin: 0;}

#metrics .number{
  font-size: 36px;
  text-align: center;
  font-family: 'gobCL';
  display: block;
  font-weight: bold;
  color:#ccc;
  /*width: 100px;*/
}
#metrics .description{
  font-size:14px;
  font-weight: bold;
  display:block;
  text-align: center;
  /*width: 100px;*/
}
/*COMO FUNCIONA*/
#how-it-works .col-md-8{
  background: #fff;
  padding:20px;
  margin-bottom: 20px;
}
/*sidebar*/
#libraries {background: #fff; clear:both;}
#libraries h4{
  background: #0067ab;
  padding: 5px 10px;
  color:#fff;
  margin: 0;
}
#libraries ul{
  margin:0;
  padding:10px;
}
#libraries li{
  list-style-type: none;
  font-size: 18px;
  padding:15px 0;
  border-bottom: 1px solid #ccc;
  margin:0;
}
#libraries .glyphicon{
  margin-right:10px;
}
/*TUTORIAL*/
#tutorial .tab-pane{
  background: #fff;
  padding: 20px;
  margin:20px 0;
}
#tutorial .tab-pane h4{
  font-weight: bold;
}
#tutorial .tab-pane h3{
  color:#0056a8;
}
#tutorial .nopadding{
  padding: 0;

}
#tutorial .nav-tabs li a {
  background: #fff;
  padding: 10px;
  min-height: 120px;
  border-right: 1px solid #ccc;
  display: block;
}
#tutorial .nav-tabs li.active a {
  text-decoration: none;
  min-height: 120px;
  background: #0056a8;
  color:#fff;
  border:0;
}
#tutorial .nav-tabs li a:hover{
  background: #0056a8;
  color:#fff;
  text-decoration: none;
}
#tutorial .tab-pane code {
  display: block;
  padding: 15px;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 1.5em;
  color: #475156;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0;
}
/*SOLICITUD ACTIVACION*/
#request form {
  background: #ccc;
  padding-bottom: 20px;
}

#request form h3{
  font-size: 24px;
  padding:0 40px 5px 40px;
}
#request .form-group{
  padding:5px 40px 5px 40px;
  font-family: 'gobCL';
  font-size: 18px !important;
  margin: 0;
}

#request input,
#request textarea{
  margin-bottom:10px;
  font-size: 18px !important;
}
#request p{
  font-size: 16px;
  font-weight: lighter;
}

#request .btn {
  margin: 20px 0;
}


/*Estilos personalizados*/
h1{
  font-size: 36px;
  font-weight: bold;
  color:#0056a8;
  margin-bottom: 18px;
}
h2 {
  font-size: 28px;
  color: #0056a8;
  margin-bottom: 25px;
  font-weight: bolder;
  font-family: 'gobCL'
}
.explicacion {
  font-size: 20px;
  border-bottom: solid 1px #2459a6;
  margin-bottom: 25px;
}
.btn{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: Helvetica, Arial, Sans-Serif;
  color: #ffffff;
  font-size: 22px;
  background: #0067ab;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-primary:hover {
  background: #0086d4;
  text-decoration: none;
}
#tasks .btn-primary,
#mensaje .btn-primary {
  font-size: 16px;
  padding: 10px;
}
input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.dropdown-menu{
  font-size: 16px;
  font-family: sans-serif;
}
.alert{
  background-image: none;
  text-shadow: none;
}
/*footer*/
footer.footer-gobcl .top .listas .lista  {width: 32%; text-align: center}
footer.footer-gobcl .top .listas .lista:first-child  {text-align: left}
footer.footer-gobcl .top .listas .lista:last-child  {text-align: right}
footer.footer-gobcl .top .listas .lista li {list-style: none;}

#step-filter .form-group{width:50%}
#step-filter .form-control{width:100%}

/*RESPONSIVE*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #formClaveUnica {margin:15px 0;}
  #formClaveUnica .footer .authors { margin: 0 15px;}
  #formClaveUnica .footer .menu .row {padding: 0 15px;  }
  #formClaveUnica .footer .menu .row .col-sm-4 { padding: 0;  }
  #formClaveUnica .main {margin: 0 15px;}
  #activar .caja {padding:20px;}
  #activar .caja h4{text-align: center;}
  header .navbar-nav > li > a{
    height: 70px;
    border-bottom: 0px;
    font-size: 1em;
    padding: 35px 5px 0 5px;
  }
  header .dropdown-submenu .btn-primary{margin:10px auto; width:30%; font-size: 16px;}
  header .dropdown-submenu .dropdown-menu li a{color:#333;}
  .boton-header {font-size: 16px; margin-top:8px; padding-left: 10px; padding-right: 10px;}
  .navbar-brand{padding:10px;height: auto}
  /*home*/
  #menu-home .nopadding{padding:0 10px;}
  #menu-home .menu-left{padding-right:10px;}
  #menu-home .menu-right{padding-left:10px;}
  #obtener-clave .col-xs-12{margin-bottom: 50px;}
  .video .menu-right{padding:10px;}
  .video .menu-left{padding:10px;}
  #metrics .number { width: auto }
}
/*Between 481px and 767px*/
@media only screen and (max-width : 767px) {
  .navbar-default {z-index: 99999999 !important}
  #bs-navbar .dropdown-menu li{background: #fff; font-size: 16px;border-bottom:1px solid #ccc; text-align: center; list-style-type: none}
  /*#bs-navbar li {padding: 0}*/
  #bs-navbar li a{background: #fff; font-size: 16px;border-bottom:1px solid #ccc; text-align: center; list-style-type: none;}
  #bs-navbar li.active a{background-image:none; background: #0086d4; color:#fff; text-shadow: none}
  #task-filter .form-group {width:100%;}
  #step-filter .form-group{width:100%}
  .barra-superior .container {padding: 0;}
  .barra-superior #citizen{ width: 35%; float: left;  padding: 0;}
  .barra-superior #institutional{ width: 65%; float: left; padding: 0; }
  .barra-superior a{border: 0}
  .navbar-nav>li:last-of-type a {border: 0}
  header .navbar-nav > li > a{padding:10px; height: 50px;}
  #office-filter .form-group{width:100%; margin-right:10px;}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  h1{font-size: 2em;}
  h2{font-size: 1.8em;}
  h3{font-size: 1.5em;}
  h4{font-size:1.3em;}
  footer.footer-gobcl .top .listas .lista {width:100%}
  /*home*/
  .video .contenido{ padding:15px 30px;}
  #obtener-clave .tarjeta{padding:20px;}
  #obtener-clave .step{display: none;}
  #request .form-group {padding: 3px 10px 10px;}
  #request form p {margin-bottom: 20px}
  #request form h3 {padding-left: 10px}
  .jumbotron .btn{font-size: 18px;}
  #up-down .tarjeta, #metrics .tarjeta {height: auto;}
  #metrics .col-sm-3{border-bottom: 1px solid #ccc; padding: 5px 0}
  #metrics .col-sm-3:last-child{border-bottom: none}
  #metrics .number{margin:0  auto;}
  #metrics .description{margin:0  auto;}
  #step-filter .form-group{width:100%}
  header .dropdown-submenu .btn-primary{margin:10px auto; font-size: 16px;padding: 10px; width:100%;}
.listas .lista,.listas .lista:first-child,
.listas .lista,.listas .lista:last-child {text-align:center!important}

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 375px) {

}
@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
  .navbar-nav>li:last-of-type a {border: 0}
  header .navbar-nav > li > a{padding:10px; height: 50px;}
  #bs-navbar .dropdown-menu li{background: #fff; font-size: 16px;border-bottom:1px solid #ccc; text-align: center; list-style-type: none}
  /*#bs-navbar li {padding: 0; border:0;}*/
  #bs-navbar li a{background: #fff; font-size: 16px;border-bottom:1px solid #ccc; text-align: center; list-style-type: none;}
  #bs-navbar li.active a{background-image:none; background-color: #0086d4 !important; color:#fff; text-shadow: none}
  header .navbar-nav > li:first-child a{border:0;}
  header .navbar-nav > li a{border:0;}
  .barra-superior .container {padding: 0;}
  .barra-superior #citizen{ width: 35%; float: left;  padding: 0;}
  .barra-superior #institutional{ width: 65%; float: left; padding: 0; }
  .barra-superior a{border: 0}
}
