<section id="configurar">
  <div class="container">
    <div class="row">
      <div class="col-md-12" ng-if="result === null">
        <h1>Configurar mis datos mini</h1>
        <a class="btn btn-danger pull-right" href="https://facilita.ipsenlinea.cl/Certificados/facilita/registro-personas.jsf">Salir</a>

        <user-form data="data"
           on-save="modifyData(profile, fullname)">
        </user-form>
      </div>

      <div class="col-md-12" ng-show="result === 'success'">
        <h1 class="text-center">¡Felicitaciones, ya tienes tu Claveúnica!</h1>

        <div class="alert alert-success">
          <p class="text-center"><strong>{{ fullname }}</strong> ya cuentas con tu Claveúnica, <br>a partir de ahora podrás utilizarla en distintos servicios e instituciones <br>del Estado. Sólo debes recordar tu contraseña.</p>
        </div>

        <div ng-controller="TasksController as $ctrl" style="text-align: center !important">
          <a class="btn btn-danger" href="https://facilita.ipsenlinea.cl/Certificados/facilita/registro-personas.jsf">Salir</a>
        </div>
      </div>

      <div class="col-md-12" ng-show="result === 'error'">
        <h1 class="text-center">Lo sentimos, ha ocurrido un error.</h1>

        <div class="alert alert-danger">
          <p class="text-center">Ha ocurrido un error mientras activábamos tu Claveúnica. <br> <a ui-sref="citizen.activation.form">Por favor inténtalo nuevamente.</a> </p>
        </div>
      </div>
    </div>
  </div>
</section>
