<section id="obtener-clave">
  <div class="container">
    <div class="col-md-12">
      <h2>¿Cómo se obtiene?</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="step arrow_box">Paso 1</div>
        <div id="step-1"></div>
        <div class="tarjeta">
          <h2 class="text-center">Acércate a las oficinas</h2>
          <p> Busca la oficina del Registro Civil o IPS/ChileAtiende más cercana y pide tu código de activación.</p>
          <a ui-sref="citizen.offices" class="btn btn-primary text-center">Buscar</a>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="step arrow_box">Paso 2</div>
        <div id="step-2"></div>
        <div class="tarjeta">
          <h2 class="text-center">Activa tu Claveúnica</h2>
          <p>Con tu código de activación y tu RUN ya puedes activar tu Claveúnica.<br>&nbsp;</p>
          <a ui-sref="citizen.activation.form" class="btn btn-primary text-center">Activar</a>
        </div>
      </div>
    </div>
  </div>
</section>
