<div id="menu-home">
  <div class="container">
    <div class="row">
      <div class="col-md-4 menu-left">
        <div class="menu-item"><h2><a ui-sref="citizen.about">¿Sabes qué es?</a></h2></div>
        <div class="menu-item"><h2><a ui-sref="citizen.tasks">Trámites disponibles</a></h2></div>
      </div>
      <div class="col-md-4 nopadding">
        <div class="menu-item"><h2><a ui-sref="citizen.activation.form">Activa tu clave</a></h2></div>
        <div class="menu-item"><h2><a ui-sref="citizen.offices">Encuentra oficinas</a></h2></div>
      </div>
      <div class="col-md-4 menu-right">
        <div class="menu-item"><h2><a ui-sref="citizen.recovery.form">Recupera tu contraseña</a></h2></div>
        <div class="menu-item"><h2><a ui-sref="citizen.faqs">¿Necesitas ayuda?</a></h2></div>
      </div>
    </div>
  </div>
</div>

<div class="container video">
  <div class="row">
    <div class="col-md-5 menu-left">
      <div class="contenido">
        <h2>Qué es la Claveúnica</h2>
        <p>Es una contraseña única para acceder a todos los servicios del Estado, de manera fácil y segura ya que es como tu carnét de identidad digital</p>
      </div>
    </div>
    <div class="col-md-7 menu-right">
      <div>
        <iframe src="https://player.vimeo.com/video/195798539?color=ffffff&title=0&byline=0&portrait=0" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<ng-include src="'views/citizen/get-it.html'"></ng-include>
