<section id="recuperar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Recuperar mi Claveúnica</h1>
        <h2>¿Tienes problemas con el código de activación u olvidaste tu contraseña? Completa estos campos para recuperarla.</h2>
        <div class="recuadro">
          <form name="form" novalidate>
            <div class="row">
              <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                <div class="pass-box">
                  <h4>Ingresa tu RUN</h4>
                  <div class="form-group" show-errors>
                    <input name="run" ng-model="run" class="form-control" placeholder="RUN" validate-rut required>
                    <small>Ejemplo: 11.111.111-1</small>
                    <p ng-messages="form.run.$error" ng-if="form.run.$touched" class="text-danger">
                      <span ng-message="required">Debes completar esta información</span>
                      <span ng-message="validateRut">El RUN no es válido</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" ng-show="form.run.$valid">
              <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                <div class="pass-box">
                  <h4>Valida que no eres un robot</h4>
                  <div ng-model="captcha" vc-recaptcha on-success="isHuman(response)" on-expire="resetForm()"></div>
                </div>
              </div>
            </div>

            <div class="row" ng-show="showOptions(form)" ng-disabled="apiError">
              <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                <div ng-show="methods.length == 2" class="pass-box">
                  <h4>A continuación, escoge un método para recuperar tu Claveúnica.</h4>
                  <div class="text-center">
                    <button promise-btn ng-click="sendRecovery(1)" class="btn btn-primary" ng-disabled="apiError">Correo electrónico</button>
                    <button promise-btn ng-click="sendRecovery(2)" class="btn btn-primary" ng-disabled="apiError">Celular</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" ng-switch="apiError" ng-if="apiError">
              <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                <div class="pass-box text-center">
                  <div class="alert alert-success" ng-switch-when="200">
                    <p>{{ message }}</p>
                    <br> <a ui-sref="citizen.activation.form">Activa tu Claveúnica</a>
                  </div>
                  <span class="alert alert-danger" ng-switch-default>{{ message }}</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
