<section id="tos">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <h1>Términos y Condiciones</h1>
    <h2>Lorem ipsum dolor</h2>
    <p>La <strong>clave única</strong> registrada por el usuario(a) debe ser única, personal, confidencial e intransferible.
Su duración es indefinida, sin perjuicio de su actualización periódica voluntaria o solicitada por el Registro Civil.</p>
    <p>Todo uso del <strong>nombre de usuario(a) y clave única</strong> es de única y exclusiva responsabilidad del titular.</p>
    <p>El usuario(a) declara comprometerse a adoptar todas las medidas para que el <strong>nombre de usuario(a) y clave única</strong> no sean conocidos, entregados, utilizados por terceras personas autorizadas o no, divulgados, publicados, cedidos o cualquiera otra acción que suponga un uso indebido de dicha información de carácter personal, confidencial e intransferible.</p>
    <p>En el caso que la persona acceda al sitio Web <a href="http://www.claveunica.gob.cl" target="_blank">www.claveunica.gob.cl</a>, con su nombre de usuario(a) y clave única, la responsabilidad derivada de la falta de cuidado, indebida reserva, mal uso o uso por terceros autorizados o no, ocasionándose o no perjuicios directos previstos e imprevistos, o de cualquier otra especie, es exclusiva responsabilidad del titular.</p>
    <p>El Servicio de Registro Civil e identificación empleará los medios tecnológicos disponibles actualmente para la entrega de los certificados, sin perjuicio de las adecuaciones que pudieran efectuarse en el futuro.</p>
    </div>
    </div>
  </div>
</section>
