<h4>Paso 2</h4>
<h3>Enviar una solicitud de autenticación al servicio de ClaveÚnica</h3>

<p>El siguiente paso es formar una solicitud <b>GET</b> vía <b>HTTPS</b> con los parámetros adecuados en la <b>URI</b>. Debes usar en todo el momento el protocolo <b>HTTPS</b>. El protocolo <b>HTTP</b> no está permitido, debido a que la información viaja en texto plano.</p>
<p>La <strong>URI</strong> donde debe ser enviada la solicitud <strong>GET</strong> es:</p>

<code><strong>https://accounts.claveunica.gob.cl/openid/authorize/</strong></code>

<p>Los parámetros que deben ser enviados en la <strong>URI</strong> son:</p>

<code>
  <ul class="clave">
    <li><strong>client_id:</strong> Este parámetro se obtiene al <a href="https://claveunica.gob.cl/institucional/solicitud-activacion">Activar la Institución</a>.</li>
    <li><strong>response_type:</strong> Este parámetro es parte de la lógica utilizada por OpenID Connect y siempre debe ser <b>code</b>.</li>
    <li><strong>scope:</strong> Este parámetro permite obtener la información del ciudadano (run y nombre completo) y debe ser <b>openid run name</b>.</li>
    <li><strong>redirect_uri:</strong> En este parámetro debe ir la URI (<b>codificada en formato URL</b>) de tu aplicación que interactuará con Claveúnica. Esta recibirá la respuesta por parte de Claveúnica.
.</li>
    <li><strong>state:</strong> En este parámetro debe ir un Token único de sesión (revisar Paso 1).</li>
  </ul>
</code>

<p>Parámetros de Ejemplo:</p>
<code>
  <ul class="clave">
    <li><strong>client_id:</strong> 123</li>
    <li><strong>response_type:</strong> code</li>
    <li><strong>scope:</strong> openid run name</li>
    <li><strong>redirect_uri:</strong> https://example.com (debe ir encodeada)</li>
    <li><strong>state:</strong> abcdefgh</li>
    <li><strong>URI:</strong> https://accounts.claveunica.gob.cl/openid/authorize?client_id=123&amp;redirect_uri=https%3A%2F%2Fexample.com&amp;response_type=code&amp;scope=openid run name&amp;state=abcdefgh</li>
  </ul>
</code>
<p>Credenciales para Testing (Sandbox):</p>
<code>
<ul>
  <li>RUN: 44.444.444-4, contraseña: "testing"</li>
  <li>RUN: 55.555.555-5, contraseña: "testing"</li>
  <li>RUN: 88.888.888-8, contraseña: "testing"</li>
  <li>RUN: 99.999.999-9, contraseña: "testing"</li>
  
</ul>
</code>

