<h4>Paso 3</h4>
<h3>Confirmar el Token de estado de anti-falsificación</h3>
<div class="description">
  <p>La respuesta que se obtiene del <b>Paso 2</b> es enviada a la URI de Redirección indicada como <b>redirect_uri</b>. Continuando con el ejemplo, lo obtenido sería algo así</p>

  <code><strong><em>https://example.com/?code=5fb3b172913448acadce6b011af1e75e&amp;state=abcdefgh</em></strong></code>

  <p>En tu aplicación, debes corroborar que el <b>state</b> que se recibió de Claveúnica coincide con el <b>token</b> de sesión creado en el <b>Paso 1</b>. Esta verificación de <i>ida y vuelta</i> ayuda a garantizar que es un ciudadano y no un atacante que está haciendo la solicitud.</p>
</div>
