<h4>Paso 4</h4>
<h3>Cambiar el código de activación por Token de acceso y un Token de autorización</h3>

<p>La respuesta incluye un parámetro llamado <strong>code</strong>. Este es un código de acceso único que tiene un tiempo de expiración de 5 minutos.
  Con este codigo tu aplicación puede solicitar un <strong>Token de acceso</strong>.
</p>

<p>Para solicitar este <strong>Token de acceso</strong> debe enviar una solicitud <strong>POST via HTTPS</strong>.</p>
<p>La <strong>URI</strong> donde debe ser enviada la solicitud POST es:</p>

<code><strong><em>https://accounts.claveunica.gob.cl/openid/token/</em></strong></code>

<p>Los parámetros que deben ser enviados en el cuerpo del mensaje POST son:</p>

<code>
  <ul class="clave">
    <li><strong>client_id:</strong> Este parámetro se obtiene al <a href="https://claveunica.gob.cl/institucional/solicitud-activacion">Activar la Institución</a>.</li>
    <li><strong>client_secret:</strong> Este parámetro se obtiene al <a href="https://claveunica.gob.cl/institucional/solicitud-activacion">Activar la Institución</a></li>
    <li><strong>redirect_uri:</strong> En este parámetro debe ir la URI de tu aplicación (la misma del Paso 2).</li>
    <li><strong>grant_type:</strong> Este parámetro es parte de la lógica utilizada por OpenID Connect y siempre debe ser <b>authorization_code</b>.</li>
    <li><strong>code:</strong> En este parámetro debe ir el código de acceso obtenido en el Paso 3.</li>
    <li><strong>state:</strong> En este parámetro debe ir el mismo Token único de sesión que fue indicado en el <strong><em>Paso 1</em></strong>.</li>
  </ul>
</code>

<p>Continuando con el ejemplo iniciado en el <b>Paso 2</b>, la URI que se debe enviar vía <b>POST</b> seria:</p>

<code>
<em>
  <strong>POST /openid/token/ HTTPS/2</strong><br>
  <strong>Host: https://www.claveunica.gob.cl</strong><br>
  <strong>Content-Type: application/x-www-form-urlencoded</strong><br>

  code=5fb3b172913448acadce6b011af1e75e
  client_id=123&amp;
  client_secret=456&amp;
  redirect_uri=https://example.com/&amp;
  grant_type=authorization_code&amp;
  state=asdfgh
</em>
</code>
