<div class="container">
  <footer class="footer-gobcl">
    <div class="banda-bicolor">
      <span class="azul"></span>
      <span class="rojo"></span>
    </div>

    <div class="top">
        <div class="listas">
          <div class="lista">
            <ul>
              <li><a href="http://www.gob.cl" target="_blank">Gobierno de Chile</a></li>
            </ul>
          </div>
          <div class="lista">
            <ul>
              <li><a href="https://www.registrocivil.cl/" target="_blank">Servicio de Registro Civil e Identificación</a></li>
            </ul>
          </div>
          <div class="lista">
            <ul>
              <li><a href="http://www.modernizacion.gob.cl" target="_blank">Modernización del Estado</a></li>
            </ul>
          </div>
        </div>
    </div>

    <div class="sep"></div>

    <div class="bottom">
      <div class="clearfix"></div>

      <div class="banda-bicolor">
        <span class="azul"></span>
        <span class="rojo"></span>
      </div>
    </div>
  </footer>
</div>
